RewriteEngine On

RewriteRule ^dashboard/?$ /view/admin/dashboard.php [L]

RewriteRule ^home/?$ /view/home/home.php [L]


RewriteRule ^schedule/?$ /view/schedule/schedule.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
